<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <CustomApplicationConfig>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <Tools>
      <Tool toolName="1" toolExeFile="north" inputFile="Entry" outputFile="" />
      <Tool toolName="2" toolExeFile="south" inputFile="Entry" outputFile="" />
    </Tools>
  </CustomApplicationConfig>
</configuration>